<table class="table table-striped">
	<col width="10%" />
	<col width="10%" />
	<col width="40%" />
	<col width="10%" />
	<col width="10%" />
	<col width="20%" />
	<tr>
		<th>Course</th>
		<th>User</th>
		<th>Description</th>
		<th>Semester</th>
		<th>Professor</th>
		<th class="center">
			Actions
		</th>
	</tr>
	<%= render 	:partial => "requests/request", 
				:collection => requests %>
</table>