<div class="page-header">
  <h1>
  	<%= @school.name %> 
  	<small>
  		Marketplace
  	</small>
  </h1>
 </div>

<%= render 'requests/form' %>

<p><b>Note: </b> making a request requires a deposit of 2 credits.   When you accept a response to your request or delete the request listing you will be returned those 2 credits.   This is to ensure that requests are posted with thought and removed in a timely fashion.</p>
<hr>
<h3>Requests by Subject</h3>
<% @subjects_to_courses.each_pair do |subject,courses| %>
		<h4><%= subject %></h4>
		<% courses.each do |course| %>
			<%= render "requests/requests", :requests => course.requests %>
		<% end %>
<% end %>