<h2>Frequently Asked Questions</h2>

<h3>What is StudyHeist?</h3>
StudyHeist is a national vault for materials that will help college students succeed.   We have everything from old tests to study guides to homework solutions.   Whatever students see fit to upload, we offer for download.

<h3>How do I upload?</h3>
First, you need to <%= link_to "sign up", signup_path %> for an account.  Then click the "upload" button on the home page and fill out the entire form.   Your upload will automatically be placed into the vault for your school.

<h3>How do I download?</h3>
Just find the file you want to download and click the button with the down arrow.   Downloading costs 1 credit for any file uploaded by another user, but once you download a file you may download it as many times as you wish.

<h3>What is SWAG?</h3>
SWAG is a measure of your reputation and activity on StudyHeist.  Think of it as a way to compare your value in the community to that of other users.  Everything you do on StudyHeist gets you SWAG, and if you get enough SWAG you can earn free credits!  To learn more about SWAG, visit the <%= link_to "About SWAG page", aboutswag_path %>.

<h3>What is the marketplace?</h3>
The Marketplace is where StudyHeist users can request files that they can't already find on StudyHeist by placing a two credit deposit and a description of the request.   Other users can then submit responses to these requests.  When a suitable response is posted, the requesting user may accept the response (thereby deleting the original request), and will be returned his deposit.  The user who posted the "winning" response will receive two free download credits from StudyHeist.

<h3>Is my information secure</h3>
Absolutely.   StudyHeist does not ask for your name or where you live, we don't care!   Your password is encrypted such that we don't even know it (so don't forget it).   Your files should not contain any personal information as they are delivered to other users exactly as you upload them.

<h3>How do I get credits?</h3>
You get credits based on the quality of the files you upload.   When someone downloads a file you upload, they are given the chance to rate it 1-10 stars.  For every 10 stars your files get (cumulatively) you get a download credit!  If you run out and you don't have anything to upload, you can also buy more credits with the "get credits" button on the home page.

<h3>Why do I have to buy credits?</h3>
First of all, you don't!  StudyHeist will never cost you a dime unless you choose to spend money.   However if you can't wait to earn free credits, we never charge more than .50c for a credit.   This small fee helps us to keep StudyHeist free and offsets the costs of storing all of your files on a fast, secure server.

<h3>Why don't you have my school in your database?</h3>
We get our schools from the national database of accredited universities.  Make sure you are using the proper name of your school.  Example: "Pennsylvania State University" not "Penn State".   If you still can't find your school, you've either been kidnapped and taken out of the USA or your school is not accredited and you're being duped!

<h3>I got a useless file!  What do I do?</h3>
Sorry, but StudyHeist is not moderated in any way.  This is why we try to give you as many free downloads as possible and never charge more than $0.50 if you choose to pay for downloads.   The best thing to do is to give that file a 0/10 rating and download a better-rated file.   StudyHeist does not allow the upload of executable files so you don't have to worry about ever getting a virus, you'll only get text/word documents, images, spreadsheets, and presentations.

<h3>Who runs StudyHeist and how can I contact someone?</h3>
StudyHeist was created by Sam, a UPenn student who currently maintains the website alone.  If you have questions about StudyHeist or you want to join the team, contact Sam by email at sam [at] habosa [dot] com.  You can see his other projects at <%= link_to "habosa.com", "http://www.habosa.com" %>

<h3>Why was StudyHeist created?  What's the point?</h3>
Many student groups (greek organizations, clubs, etc.) maintain personal "test banks" of old material passed down over the years.   StudyHeist aims to centralize all of those study banks into a nationally accessible database that helps students get the materials they need to succeed.