<div class="page-header">
  <h1>Frequenty Asked Questions</h1>
</div> 


<div class="accordion" id="accordion">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c1">
				What is StudyHeist?
			</a>
			<div id="c1" class="accordion-body collapse">
				<div class="accordion-inner">
					StudyHeist is a national vault for materials that will help college students succeed.   We have everything from old tests to study guides to homework solutions.   Whatever students see fit to upload, we offer for download.
				</div>
			</div>
		</div>
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c2">
				How Do I Upload?
			</a>
			<div id="c2" class="accordion-body collapse">
				<div class="accordion-inner">
					First, you need to <%= link_to "sign up", signup_path %> for an account.  Then click the "upload" button on the home page and fill out the entire form.   Your upload will automatically be placed into the vault for your school.
				</div>
			</div>
		</div>
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c3">
				How Do I Download?
			</a>
			<div id="c3" class="accordion-body collapse">
				<div class="accordion-inner">
					Just find the file you want to download and click the button with the down arrow.   Downloading costs 1 credit for any file uploaded by another user, but once you download a file you may download it as many times as you wish.
				</div>
			</div>
		</div>
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c4">
				What is SWAG?
			</a>
			<div id="c4" class="accordion-body collapse">
				<div class="accordion-inner">
					SWAG is a measure of your reputation and activity on StudyHeist.  Think of it as a way to compare your value in the community to that of other users.  Everything you do on StudyHeist gets you SWAG, and if you get enough SWAG you can earn free credits!  To learn more about SWAG, visit the <%= link_to "About SWAG page", aboutswag_path %>.
				</div>
			</div>
		</div>
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c5">
				What is the Marketplace?
			</a>
			<div id="c5" class="accordion-body collapse">
				<div class="accordion-inner">
					The Marketplace is where StudyHeist users can request files that they can't already find on StudyHeist by placing a two credit deposit and a description of the request.   Other users can then submit responses to these requests.  When a suitable response is posted, the requesting user may accept the response (thereby deleting the original request), and will be returned his deposit.  The user who posted the "winning" response will receive two free download credits from StudyHeist.
				</div>
			</div>
		</div>
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c6">
				Will You Respect My Privacy?
			</a>
			<div id="c6" class="accordion-body collapse">
				<div class="accordion-inner">
					Absolutely.   StudyHeist does not ask for your name or where you live, we don't care!   Your password is encrypted such that we don't even know it (so don't forget it).   Your files should not contain any personal information as they are delivered to other users exactly as you upload them.
				</div>
			</div>
		</div>
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c7">
				How Do I Get Credits?
			</a>
			<div id="c7" class="accordion-body collapse">
				<div class="accordion-inner">
					You get credits based on the quality of the files you upload.   When someone downloads a file you upload, they are given the chance to rate it 1-10 stars.  For every 10 stars your files get (cumulatively) you get a download credit!  If you run out and you don't have anything to upload, you can also buy more credits with the "get credits" button on the home page.
				</div>
			</div>
		</div>
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c8">
				Why Do I Have to Buy Credits?
			</a>
			<div id="c8" class="accordion-body collapse">
				<div class="accordion-inner">
					First of all, you don't!  StudyHeist will never cost you a dime unless you choose to spend money.   However if you can't wait to earn free credits, we never charge more than .50c for a credit.   This small fee helps us to keep StudyHeist free and offsets the costs of storing all of your files on a fast, secure server.
				</div>
			</div>
		</div>
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c9">
				Why Isn't My School In Your Database?
			</a>
			<div id="c9" class="accordion-body collapse">
				<div class="accordion-inner">
					We get our schools from the national database of accredited universities.  Make sure you are using the proper name of your school.  Example: "Pennsylvania State University" not "Penn State".   If you still can't find your school, you've either been kidnapped and taken out of the USA or your school is not accredited and you're being duped!
				</div>
			</div>
		</div>
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c10">
				I Got a Useless File, What Do I Do?
			</a>
			<div id="c10" class="accordion-body collapse">
				<div class="accordion-inner">
					Sorry, but StudyHeist is not moderated in any way.  This is why we try to give you as many free downloads as possible and never charge more than $0.50 if you choose to pay for downloads.   The best thing to do is to give that file a 0/10 rating and download a better-rated file.   StudyHeist does not allow the upload of executable files so you don't have to worry about ever getting a virus, you'll only get text/word documents, images, spreadsheets, and presentations.
				</div>
			</div>
		</div>
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c11">
				Who Runs StudyHeist and How Can I Contact Someone?
			</a>
			<div id="c11" class="accordion-body collapse">
				<div class="accordion-inner">
					StudyHeist was created by Sam, a UPenn student who currently maintains the website alone.  If you have questions about StudyHeist or you want to join the team, contact Sam by email at sam [at] habosa [dot] com.  You can see his other projects at <%= link_to "habosa.com", "http://www.habosa.com" %>
				</div>
			</div>
		</div>
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c12">
				Why Was StudyHeist Created?  What's the Point?
			</a>
			<div id="c12" class="accordion-body collapse">
				<div class="accordion-inner">
					Many student groups (greek organizations, clubs, etc.) maintain personal "test banks" of old material passed down over the years.   StudyHeist aims to centralize all of those study banks into a nationally accessible database that helps students get the materials they need to succeed.
				</div>
			</div>
		</div>
	</div>
</div>
