<h2>SWAG - An Introduction</h2>

<h3>What is SWAG?</h3>
SWAG is a measure of your reputation and activity on StudyHeist.  Think of it as a way to compare your value in the community to that of other users.  

<h3>Why is it called SWAG?</h3>
Because it sounds cool, next question.

<h3>How do I get SWAG?</h3>
Everything you do on StudyHeist gets you SWAG!  Here is the detailed breakdown:
</br></br>
<ul class = "indent">
<li>Sign Up - 100 SWAG</li>
<li>Upload a File - 200 SWAG</li>
<li>Download a File - 50 SWAG</li>
<li>Comment on a File - 50 SWAG</li>
<li>Request a File in the Marketplace - 50 SWAG</li>
<li>Respond to a Marketplace Request - 100 SWAG</li>
<li>Supply the Accepted Reponse to a Marketplace Request - 150 SWAG</li>
<li>Someone Downloads Your File - 20 SWAG</li>
<li>Someone Comments on Your File - 10 SWAG</li>
</ul>

<h3>That's great, but why do I want SWAG?</h3>
Besides boosting your reputation, SWAG earns you credits!  For every 5,000 SWAG you earn, you will get 2 free download credits to use on StudyHeist!  Your overall SWAG will never go down, you'll just get the credits as you pass each 5,000 SWAG milestone.

<h3>Can I see who has the most SWAG?</h3>
That's a feature we are working on.  Keep earning your SWAG, and when the leaderboard comes out you might be on top of your school or even the nation!

