<h2>Frequently Asked Questions</h2>

<h3>What is StudyHeist?</h3>
StudyHeist is a national vault for materials that will help college students succeed.   We have everything from old tests to study guides to homework solutions.   Whatever students see fit to upload, we offer for download.

<h3>How do I upload?</h3>
First, you need to <%= link_to "sign up", signup_path %> for an account.  Then click the "upload" button on the home page and fill out the entire form.   Your upload will automatically be placed into the vault for your school.

<h3>How do I download?</h3>
Just find the file you want to download and click the button with the down arrow.   Downloading costs 1 credit for any file uploaded by another user, but once you download a file you may download it as many times as you wish.

<h3>How do I get credits?</h3>
You get credits based on the quality of the files you upload.   When someone downloads a file you upload, they are given the chance to rate it 1-10 stars.  For every 10 stars your files get (cumulatively) you get a download credit!  If you run out and you don't have anything to upload, you can also buy more credits with the "get credits" button on the home page.

<h3>Why don't you have my school?</h3>
We get our schools from the national database of accredited universities.  Make sure you are using the proper name of your school.  Example: "Pennsylvania State University" not "Penn State".   If you still can't find your school, you've either been kidnapped and taken out of the USA or your school is not accredited and you're being duped!

<h3>I got a useless file!  What do I do?</h3>
Sorry, but StudyHeist is not moderated anyway.  This is why we try to give you as many free downloads as possible and never charge more than $0.50 if you choose to pay for downloads.   The best thing to do is to give that file a 0/10 rating and download a better-rated file.