<div class="container">
	<div class="hero-unit">
		<h1>Welcome to StudyHeist</h1>
		<p>
			StudyHeist is a national database for study materials.  Share your best material to get access to study guides around the nation.
		</p>
	</div>
</div>