<h2>StudyHeist Terms of Service</h2>

<h3>Account Terms</h3>
You must be a current college student or a college alumni in order to use this service.
</br>
</br>
You must be a human.   Any accounts registered by "bots" or other nonhuman users are subject to deletion.   Bots used to acquire free credits through automatic ratings may be subject to fees based on the value of the credits obtained illegitimately.
</br>
</br>
You must provide valid information for all items requested in the signup process.   You must be a current student, former student, or official employee of the school listed in your profile.
</br>
</br>
Your account may not be used by more than one person.  The only exception to this rule is active student groups who wish to hold a joint account in order to have free access to materials uploaded by the group.  Accounts of this nature should notify StudyHeist of their intention by emailing sam [at] studyheist [dot] com with the name of the student group and the approximate membership.
</br>
</br>
You are responsible for maintaining the security of your own account.  StudyHeist is not responsible for any security measures beyond basic password encryption and a guarantee of payment information privacy.   StudyHeist will not be held liable for any other failures in security, especially those in which the user is at fault.
</br>
</br>
You are legally responsible for all files uploaded on your account.
</br>
</br>
One person may not maintain more than one account, even under different email addresses.   Any user found to be maintaining multiple accounts will be subject to fees for the value of free credits awarded to those accounts, as well as any free credits gained by other users as a result by ratings given by that user's accounts.
</br>
</br>
You will not take any actions on StudyHeist that violate any laws of your legal jurisdiction or any other laws to which you may be subject.

<h3>Payment Terms</h3>
All payments must be made with a valid credit/debit card or PayPal account.
</br>
</br>
All payments will be immediately billed to the user.  All transactions that result in the successful transfer of credits are final.
</br>
</br>
Credits are billed at the time or purchase, not at the time of use.
</br>
</br>
You are responsible for the proper payment of all taxes associated with purchases from StudyHeist.
</br>
</br>

<h3>Account Deletion</h3>
You are responsible for contacting StudyHeist is if you wish to delete your account.   This should be done via email to sam [at] studyheist [dot] com.   Only deletion emails that receive a response are considered valid deletion requests.   If a response is not received in 7 days, resend your request.
</br>
</br>
Upon deletion of your account, all account records will be likewise removed.  This includes the immediate, irreversible deletions of all files uploaded as well as all download and purchase records from your account.   Upon deletion of your account you may make no further claims against StudyHeist for any reason.
</br>
</br>
StudyHeist has full discretion to delete or suspend your account for any reason.   Any violation of these Terms of Service will result in immediate account deletion, and evidence need not be provided in such matters.  StudyHeist reserves the right to refuse service to anyone at any time.

<h3>Copyright and Content Ownership</h3>
By uploading any file to StudyHeist, you give StudyHeist full intellectual property rights to that file for the remainder of your account lifetime.   You also guarantee that you have the ability to transfer such rights for any files uploaded and that you will not upload the property of any other person or persons.
</br>
</br>
You certify that all actions that you take on StudyHeist are in compliance with the academic codes of the college or university which you attend or attended.  This includes file uploading, file downloading, commenting on files, etc.
</br>
</br>
By uploading a file to StudyHeist, you allow it to be viewed publicly.  You also allow the download of these files by any other StudyHeist user.  You also give StudyHeist the right to charge others for this privilege.
</br>
</br>
StudyHeist does not pre screen any content but we reserve the right to remove any content for any reason.
</br>
</br>
You shall defend StudyHeist against any claim, demand, suit, or proceeding made or brought against StudyHeist by a third party alleging that content associated with your account or your use of StudyHeist's services in violation of this agreement infringes or misappropriates the intellectual property rights of a third party or violates applicable law, and you shall indemnify StudyHeist for any damages finally awarded against, and any fees incurred by, StudyHeist in connection with any such claim, demand, suit, or proceeding provided that StudyHeist promptly gives notice of the claim to the email address on your account and gives you control of the defense and settlement of the claim.   You may not settle any claim, demand, suit, or proceeding unless the settlement unconditionally releases StudyHeist of any liability.
</br>
</br>
The look and feel of StudyHeist's website and services are the intellectual property of Samuel Stern and any other StudyHeist stakeholders.  You may not duplicate, reuse, or copy any portion of the HTML, CSS, Javascript, Ruby on Rails code, or visual design elements without express written consent from StudyHeist.

