<div class="page-header">
  <h1>
  	Request Page
  	<small>
  		Give help, get help.  	
  	</small>
  </h1>
</div>

<%= render "requests/requests", :requests => [@request] %>

<br />
<hr>

<% if @request.user == current_user %>
	<h2>Responses To Date</h2>
	<%= render "responses/responses", :responses => @responses %>
<% else %>
	<h3>Respond to Request (Earn 2 Credits)</h3>
	<% if !current_user.has_responded?(@request)%>
		<%= render 'responses/form' %>
	<% else %>
		<p>You have already responded to this request, you will be notified and rewarded if your response is accepted.</p>
	<% end %>
<% end %>