<div class="page-header">
  <h1>
  	Request Page
  	<small>
  		Give help, get help.  	
  	</small>
  </h1>
</div>

<%= render "requests/requests", :requests => [@request] %>

<br />
<hr>

<% if @request.user == current_user %>
	<h2>Responses To Date</h2>
	<% if @responses.size > 0 %>
	<ul>
		<% @responses.each do |response| %>
			<%= render response %>
		<% end %>
	</ul>
	<% else %>
		<h3>None so far...</h3>
	<% end %>
<% else %>
	<h3>Respond to Request (Earn 2 Credits)</h3>
	<% if !current_user.has_responded?(@request)%>
		<%= render 'responses/form' %>
	<% else %>
		<h3>You have already responded to this request, you will be notified and rewarded if your response is accepted</h3>
	<% end %>
<% end %>