<h2><%= @course.course_name %> - <%= @course.school.name %> - Files</h2>
<% @years.each do |year| %>
<h3><%= year.year %></h3>
<ul class = "indent">
	<% @uploads.each do |upload| %>
		<% if upload.year.year == year.year %>
		<%= render upload %>
		<% end %>
	<% end %>
</ul>
<% end %>