/* Proper navbar-body separation */
/* only @media version was needed before bootswatch */
#maincontainer {
  padding-top: 110px;
  padding-bottom: 40px;
}

.sidepad {
  padding-left: 5%;
  padding-right: 5%;
}

@media(min-width: 980px) {
  #maincontainer {
    /* was 60 before bootswatch */
    padding-top: 100px;
    padding-bottom: 40px;
  }
}


@media(max-width: 979px) {
  .navbar-inner .container {
    padding-left: 20px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

body {
  background-image: url('/assets/gplaypattern.png')
}

.table-striped {
  border: 1px solid;
  border-color: #dddddd;
}

.table-striped tr:nth-of-type(even) {
  background-color: white;
}

/* link differentiation for bootswatch */
.dlink {
  padding-top: 12px;
}

.a-dot {
  color: black;
  border-bottom: 1px dotted;
}

.a-dot:hover {
  color: #777;
  text-decoration: none;
}

.a-dot-rev {
  color: #777;
  border-bottom: 1px dotted;
}

.a-dot-rev:hover {
  color: black;
  text-decoration: none;
}

/* Cloud Download Icons */

.downloadicon a {
  color: #0088cc;
}

.downloadicon a:hover {
  color: #005580;
}


.downloadicon a {
  text-decoration: none;
}

.downloadicon:hover a small{
  text-decoration: underline;
}

td .downloadicon i {
  /* commented out for bootswatch */
  /* margin-left: -3px; */
  padding-left: 10px;
}

/* FAQs */
.accordion-toggle {
  color: black;
}

.accordion-toggle:hover {
  color: #777;
}

.logo {
  position: relative;
}

/* table differentiation for bootswatch */
th {
  color: black;
}

.table-fixed {
  table-layout: fixed;
}

.table-fixed td {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* needed for bootswatch */
.icon-marketing {
  padding-bottom: 12px;
  padding-right: 30px;
}

.index-column {
	height: 100px;
	padding: 10px;
	padding-left: 0px;
}

.index-column > btn {
  margin-bottom: 15px;
}

.fb-like {
	float: right;
}

.description {
	max-height: 200px;
}

.spinner {
  padding-left: 10px;
}

.inputloading {
  background-image: url('/assets/smallspinner.gif');
  background-repeat: no-repeat;
  background-position: 99% 50%;
}

td.center, th.center {
  text-align: center;
}

.uploadli {
	list-style: none;
	margin-left: 0px;
}

tr.pad td {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

label.white {
  color: white;
}

h1.short {
	line-height: 90%;
}

h1.short > small {
	padding-left: 10px;
}

/* Menu DIV */
.jqac-menu{
  color: black;
  background-color: white;
  border: 1px solid #aaa;
  margin-top: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
}
/* unordered list for suggestions */
.jqac-menu ul {
  list-style: none;
  margin: 1px;
  padding: 0px;
  overflow: hidden;
}

/* list item */
.jqac-menu li {
	padding-left: 5px;
	padding-right: 5px;
}

/* SPAN "link" */
.jqac-menu .jqac-link {
  cursor: hand; cursor: pointer;
  display: block;
}
/* highlighted menu item */
.jqac-menu .jqac-highlight {
  background-color: #0081c2;
  color: #ffffff;
}
/* warning for no results */
.jqac-menu .jqac-warning {
  font-style: italic;
}
/* loading for AJAX get */
.jqac-menu .jqac-loading {
  font-style: italic;
  text-decoration: blink;
}
/* matched sub-string */
.jqac-menu em {
    text-decoration: none;
    font-style: none;
    font-weight: bold;
}
/* suggestion info */
.jqac-menu .jqs-info {
    text-align: right;
    font-style: italic;
    font-size: .75em;
    color: #666;
}

/* Star Ratings */
.rating-static { 
    width: 60px; 
    height: 16px;  
    display: block; 
    background: url('/assets/star-rating.png') 0 0 no-repeat;
}

.rating {
  margin: 0 auto;
}

.rating-50 { background-position: 0 0; }
.rating-40 { background-position: -12px 0; } 
.rating-30 { background-position: -24px 0; }
.rating-20 { background-position: -36px 0; }
.rating-10 { background-position: -48px 0; }
.rating-0 { background-position: -60px 0; }

.rating-5  { background-position: -48px -16px; }
.rating-15 { background-position: -36px -16px; }
.rating-25 { background-position: -24px -16px; }
.rating-35 { background-position: -12px -16px; }
.rating-45 { background-position: 0 -16px; }

/* Parsley.js error validation */
input.parsley-error, textarea.parsley-error {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
}

input.parsley-success, textarea.parsley-success {
  color: #468847 !important;
  background-color: #DFF0D8 !important;
  border: 1px solid #D6E9C6 !important;
}

ul.parsley-error-list {
  font-size: 11px;
  margin: 2px;
  list-style-type: none;
}