<% if uploads.size != 0 %>
	<table class="table table-striped">
			<tr>
				<th>Download</th>
				<th style="text-align:center;">
					Type
				</th>
				<th >Name</th>
				<th>Course</th>
				<th>Semester</th>
				<th>Professor</th>
				<th>Actions</th>
			</tr>
			<% if downloads == true %>
				<%= render 	:partial => "downloads/download", 
							:collection => uploads %>
			<% else %>
				<%= render 	:partial => "uploads/upload", 
							:collection => uploads %>
			<% end %>
	</table>
<% else %>
	<% if downloads == true %>
		No downloads
	<% else %>
		No uploads
	<% end %>
<% end %>