<% if uploads.size != 0 %>
	<table class="table table-striped table-fixed">
			<col width="8%" />
			<col width="7%" />
			<col width="30%" />
			<col width="15%" />
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<tr>
				<th class="center">
					Download
				</th>
				<th class="center">
					Type
				</th>
				<th>Name</th>
				<th class="center">
					Rating
				</th>
				<th>Course</th>
				<th>Semester</th>
				<th>Professor</th>
				<th class="center">
					Actions
				</th>
			</tr>
			<% if downloads == true %>
				<%= render 	:partial => "downloads/download", 
							:collection => uploads %>
			<% else %>
				<%= render 	:partial => "uploads/upload", 
							:collection => uploads %>
			<% end %>
	</table>
<% else %>
	No files
<% end %>